<html>
    <title>kite</title>
    <head>
        <link href=/assets/style.css type=text/css rel=stylesheet />
        hello
    </head>
    <h1>
        Person: <%= ID %>
    </h1>
    <h2>
        QueryString value = <%= Qstr %> 
    </h2>
</html>